@import url('https://fonts.googleapis.com/css2?family=Eczar&family=Fruktur&family=Neuton&family=Work+Sans&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    font-family: 'Fruktur', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    color: #1a1318;
    height:77px;
    
}   

nav a {
    color:#1a1318;
}
  
  /* LOGO */
.logo {
    
    display:flex;
    justify-items: center;
    align-items:center;
    font-size: 32px;
    height: 100%;
    
}
.logo img {
    width: 10rem;
    height: auto;
}

/* NAVBAR MENU */
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Eczar', serif;
}
  
.menu li:hover, a.active {
    background-color: #a3849b;
    border-radius: 5px;
    transition: 0.3s ease;
} 

.active {
    padding: 5px 14px;
}
  
.menu li {
    padding: 5px 14px;
}
/* DROPDOWN MENU */
.services {
    position: relative; 
}
  
.dropdown {
    background-color: #a3849b;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
    text-transform: lowercase;
}
  
.dropdown li + li {
    margin-top: 10px;
}
  
.dropdown li {
    padding: 0.5em 0.5em;
    width: 8em;
    text-align: center;
}
  
.dropdown li a:hover {
    color: #ec9fd8;
}
  
.services:hover .dropdown {
    display: block;
}

/* CHECKBOX HACK */

input[type=checkbox] {
    display: none;
} 
  
  /* HAMBURGER MENU */
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}
  
/* section {
    width:100%;
    height: calc(100vh - 77px);
} */
.home{
    margin-top:77px;
    background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)),
    url('bg2.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh - 77px);
    text-align: center;
    color: /* #f8dff1 */  white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    border-radius: 15px;
}
.home div {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 4rem;
    line-height: 1;
    font-family: 'Eczar', serif;
}
h5 {
    color:black;
    font-weight: normal;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .navbar {
        padding: 10px;
    }

   
    .menu {
       display:none;
       position: absolute;
       background-color:#a3849b;
       right: 0;
       left: 0;
       text-align: center;
       padding: 16px 0;
    }
    .menu li a:hover {
        display: inline-block;
        transition: 0.3s ease;
    }
    .menu li + li {
        margin-top: 12px;
    }
    .menu li + li {
        margin-top: 12px;
      }
    
    input[type=checkbox]:checked ~ .menu {
        display: flex;
        flex-direction: column;
      }
    
    .hamburger {
        display: block;
    }
    
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
        background-color: #dbb9d3;
        overflow-y: scroll;
    }
    
    .dropdown li a:hover {
        color: #ec9fd8;
    }
} 

@media (max-width: 425px) {
    .logo img {
        width: 100px;
        height: auto;
    }

    .home {
        height: 500px;
    }

    .dropdown {
        transform: translateX(25%);
    }
}


  